<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>wc robe</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    <!-- build:css(.) styles/vendor.css-->
    <!-- bower:css-->
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.css">
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:css(.tmp) styles/main.css-->
    <link rel="stylesheet" href="/styles/wc-robe.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild-->
  </head>
  <body>
    <nav class="nav-tabs">
      <ul>
        <li><a href="/index.html">CSS Components</a></li>
        <li class="active"><a href="/component/accordion.html">Javascript Tools</a></li>
      </ul>
    </nav>
    <div class="units-row">
      <div class="unit-30">
        <nav class="nav nav-stacked">
          <ul>
            <li><a href="/component/accordion.html">Accordion</a></li>
            <li><a href="/component/autocomplete.html">Autocomplete</a></li>
            <li><a href="/component/button.html">Buttons</a></li>
            <li><a href="/component/message.html">Message</a></li>
          </ul>
        </nav>
      </div>
      <div class="unit-70">
        <h1>Buttons</h1>
        <div class="h2">Enable Buttons</div>
        <div class="wc-help">
        </div>
        <hr/>
      </div>
    </div>
    <!-- build:js(.) scripts/vendor.js-->
    <!-- bower:js-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:js({app,.tmp}) scripts/main.js-->
    <script data-main="/scripts/main" src="/bower_components/requirejs/require.js"></script>
    <!-- endbuild-->
    
  </body>
</html>