//- Test Grids
#Grid
  h0 Grid
  h2 Start
  .units-row
    .unit-50 Hello world
    .unit-50 It's wc Robe Grid System
  hr
  h2 Units

  - var grids = [];
  - grids.push([100]);
  - grids.push([50,50]);
  - grids.push([10,90]);
  - grids.push([40,60]);
  - grids.push([35,65]);
  - grids.push([33,66]);
  - grids.push([33,33,33]);
  - grids.push([30,70]);
  - grids.push([25,75]);
  - grids.push([25,25,25,25]);

  each units in grids
    .units-row
      each unit in units
        div(class='unit-#{unit}')= unit+ '%'
  hr
  h2 Split units
  - var splitGrids = [];
  - splitGrids.push([40,60]);

  each units in splitGrids
    .units-row.units-split
      each unit in units
        div(class='unit-#{unit}')= unit+ '%'
  hr
  h2 Nested units
  .units-row
    .unit-50
      .units-row.end
        .unit-20 20%
        .unit-80 80%
      .units-row.end
        .unit-70 70%
        .unit-30 30%
    .unit-50
      .units-row.end
        .unit-25 25%
        .unit-25 25%
        .unit-25 25%
        .unit-25 25%
      .units-row.end
        .unit-20 20%
        .unit-20 20%
        .unit-20 20%
        .unit-20 20%
        .unit-20 20%
  hr
  h2 Centered
    .units-row
      .unit-centered.unit-40 40%

  hr
  h2 Push by unit
    .units-row
      .unit-push-50.unit-2 20%

    .units-row
      .unit-push-20.unit-80 80%

