include ../mixin/source
//- Typography test
#Typography
  +source('Typography')
    h1 h1. wc-Robe heading
    h2 h2. wc-Robe heading
    h3 h3. wc-Robe heading
    h4 h4. wc-Robe heading
    h5 h5. wc-Robe heading
    h6 h6. wc-Robe heading
