include ../mixin/source
//- Typography test
#Typography
  .h1 Typography
  +source('Стандартная')
    h1 h1. wc-Robe heading
    h2 h2. wc-Robe heading
    h3 h3. wc-Robe heading
    h4 h4. wc-Robe heading
    h5 h5. wc-Robe heading
    h6 h6. wc-Robe heading

  .tools-alert.tools-alert-red
    | Если у вас есть необходимоть в поисковой индексации.
    | Обратите внимание, что поисковики H1 и H2 воспринимают только один раз

  +source('Class Typography (Roman A. Korzhavin)')
    .h1 h1. wc-Robe heading
    .h2 h2. wc-Robe heading
    .h3 h3. wc-Robe heading
    .h4 h4. wc-Robe heading
    .h5 h5. wc-Robe heading
    .h6 h6. wc-Robe heading
