extends ./index.jade
block content
  //- Test Grids
  #Grid
    h0 Blocks
    hr
    h2 Two
    ul.blocks-2
      li 50%
      li 50%

    hr
    h2 Three
    ul.blocks-3
      li 33%
      li 33%
      li 33%

    hr
    h2 Four
    ul.blocks-4
      li 25%
      li 25%
      li 25%
      li 25%

    hr
    h2 Five
    ul.blocks-5
      li 20%
      li 20%
      li 20%
      li 20%
      li 20%

    hr
    h2 Six
    ul.blocks-6
      li 16.6%
      li 16.6%
      li 16.6%
      li 16.6%
      li 16.6%
      li 16.6%
    hr
    h2 Different Sizes
    ul.blocks-5
      li 20%
      li 20%
      li(style="padding: 50px;") 20%
      li 20%
      li 20%
    hr
    h2 Mobile Helpers
    ul.blocks-5.blocks-mobile-33
      li 20%
      li 20%
      li 20%
      li 20%
      li 20%

    ul.blocks-3.blocks-mobile-50
      li 33%
      li 33%
      li 33%
