include mixin/source

extends ./index.jade
block content
  //- Test Grids
  #Blocks
    h0 Blocks
    +source('Two')
      ul.blocks-2
        li.visualiser 50%
        li.visualiser 50%

    +source('Three')
      ul.blocks-3
        li.visualiser 33%
        li.visualiser 33%
        li.visualiser 33%

    +source('Four')
      ul.blocks-4
        li.visualiser 25%
        li.visualiser 25%
        li.visualiser 25%
        li.visualiser 25%

    +source('Five')
      ul.blocks-5
        li.visualiser 20%
        li.visualiser 20%
        li.visualiser 20%
        li.visualiser 20%
        li.visualiser 20%

    +source('Six')
      ul.blocks-6
        li.visualiser 16.6%
        li.visualiser 16.6%
        li.visualiser 16.6%
        li.visualiser 16.6%
        li.visualiser 16.6%
        li.visualiser 16.6%

    +source('Different Sizes')
      ul.blocks-5
        li.visualiser 20%
        li.visualiser 20%
        li.visualiser(style="padding: 50px;") 20%
        li.visualiser 20%
        li.visualiser 20%

    +source('Mobile Helpers')
      ul.blocks-5.blocks-mobile-33
        li.visualiser 20%
        li.visualiser 20%
        li.visualiser 20%
        li.visualiser 20%
        li.visualiser 20%

    +source('Mobile Helpers 1')
      ul.blocks-3.blocks-mobile-50
        li.visualiser 33%
        li.visualiser 33%
        li.visualiser 33%
