extends ./index.jade
block content
  #Colors
    h1 Colors
    //- @bug: Цвета не работают
    h2 Bright or pastel, basic or grayscale, and everything in between
    table.table-flat
      tbody
        tr
          td.width-25 Pastel &#x9;&#x9;
          td.width-25 Light &#x9;&#x9;
          td.width-25 Basic &#x9;&#x9;
          td.width-25 Dark &#x9;
        tr
          td
            span.swatch.color-gray-pastel @color-gray-pastel &#x9;&#x9;
          td
            span.swatch.color-gray-light @color-gray-light &#x9;&#x9;
          td
            span.swatch.color-gray @color-gray &#x9;&#x9;
          td
            span.swatch.color-gray-dark @color-gray-dark &#x9;
        tr
          td
            span.swatch.color-black-pastel @color-black-pastel &#x9;&#x9;
          td
            span.swatch.color-black-light @color-black-light &#x9;&#x9;
          td
            span.swatch.color-black @color-black &#x9;&#x9;
          td
            span.swatch.color-black-dark @color-black-dark &#x9;
        tr
          td
            span.swatch.color-blue-pastel @color-blue-pastel &#x9;&#x9;
          td
            span.swatch.color-blue-light @color-blue-light &#x9;&#x9;
          td
            span.swatch.color-blue @color-blue &#x9;&#x9;
          td
            span.swatch.color-blue-dark @color-blue-dark &#x9;
        tr
          td
            span.swatch.color-red-pastel @color-red-pastel &#x9;&#x9;
          td
            span.swatch.color-red-light @color-red-light &#x9;&#x9;
          td
            span.swatch.color-red @color-red &#x9;&#x9;
          td
            span.swatch.color-red-dark @color-red-dark &#x9;
        tr
          td
            span.swatch.color-yellow-pastel @color-yellow-pastel &#x9;&#x9;
          td
            span.swatch.color-yellow-light @color-yellow-light &#x9;&#x9;
          td
            span.swatch.color-yellow @color-yellow &#x9;&#x9;
          td
            span.swatch.color-yellow-dark @color-yellow-dark &#x9;
        tr
          td
            span.swatch.color-green-pastel @color-green-pastel &#x9;&#x9;
          td
            span.swatch.color-green-light @color-green-light &#x9;&#x9;
          td
            span.swatch.color-green @color-green &#x9;&#x9;
          td
            span.swatch.color-green-dark @color-green-dark

    hr
