extends ./index.jade
mixin icon(icon)
  li
    i.fa(class=icon.name)
    | &nbsp; #{icon.name}#{unicode}

block content
  #Icons
    h1 Icons

    h2 Use icons with ease
    - var icons = [];
    - icons.push({name:"fa-adjust",unicode:"[&#xf042;]"});
    - icons.push({name:"fa-adn",unicode:"[&#xf170;]"});
    - icons.push({name:"fa-align-center",unicode:"[&#xf037;]"});
    - icons.push({name:"fa-align-justify",unicode:"[&#xf039;]"});
    - icons.push({name:"fa-align-left",unicode:"[&#xf036;]"});
    - icons.push({name:"fa-align-right",unicode:"[&#xf038;]"});
    - icons.push({name:"fa-ambulance",unicode:"[&#xf0f9;]"});
    - icons.push({name:"fa-anchor",unicode:"[&#xf13d;]"});
    - icons.push({name:"fa-android",unicode:"[&#xf17b;]"});
    - icons.push({name:"fa-angellist",unicode:"[&#xf209;]"});
    - icons.push({name:"fa-angle-double-down",unicode:"[&#xf103;]"});
    - icons.push({name:"fa-angle-double-left",unicode:"[&#xf100;]"});
    - icons.push({name:"fa-angle-double-right",unicode:"[&#xf101;]"});
    - icons.push({name:"fa-angle-double-up",unicode:"[&#xf102;]"});
    - icons.push({name:"fa-angle-down",unicode:"[&#xf107;]"});
    - icons.push({name:"fa-angle-left",unicode:"[&#xf104;]"});
    - icons.push({name:"fa-angle-right",unicode:"[&#xf105;]"});
    - icons.push({name:"fa-angle-up",unicode:"[&#xf106;]"});
    - icons.push({name:"fa-apple",unicode:"[&#xf179;]"});
    - icons.push({name:"fa-archive",unicode:"[&#xf187;]"});
    - icons.push({name:"fa-area-chart",unicode:"[&#xf1fe;]"});
    - icons.push({name:"fa-arrow-circle-down",unicode:"[&#xf0ab;]"});
    - icons.push({name:"fa-arrow-circle-left",unicode:"[&#xf0a8;]"});
    - icons.push({name:"fa-arrow-circle-o-down",unicode:"[&#xf01a;]"});
    - icons.push({name:"fa-arrow-circle-o-left",unicode:"[&#xf190;]"});
    - icons.push({name:"fa-arrow-circle-o-right",unicode:"[&#xf18e;]"});
    - icons.push({name:"fa-arrow-circle-o-up",unicode:"[&#xf01b;]"});
    - icons.push({name:"fa-arrow-circle-right",unicode:"[&#xf0a9;]"});
    - icons.push({name:"fa-arrow-circle-up",unicode:"[&#xf0aa;]"});
    - icons.push({name:"fa-arrow-down",unicode:"[&#xf063;]"});
    - icons.push({name:"fa-arrow-left",unicode:"[&#xf060;]"});
    - icons.push({name:"fa-arrow-right",unicode:"[&#xf061;]"});
    - icons.push({name:"fa-arrow-up",unicode:"[&#xf062;]"});
    - icons.push({name:"fa-arrows",unicode:"[&#xf047;]"});
    - icons.push({name:"fa-arrows-alt",unicode:"[&#xf0b2;]"});
    - icons.push({name:"fa-arrows-h",unicode:"[&#xf07e;]"});
    - icons.push({name:"fa-arrows-v",unicode:"[&#xf07d;]"});
    - icons.push({name:"fa-asterisk",unicode:"[&#xf069;]"});
    - icons.push({name:"fa-at",unicode:"[&#xf1fa;]"});
    - icons.push({name:"fa-automobile",unicode:"[&#xf1b9;]"});
    - icons.push({name:"fa-backward",unicode:"[&#xf04a;]"});
    - icons.push({name:"fa-ban",unicode:"[&#xf05e;]"});
    - icons.push({name:"fa-bank",unicode:"[&#xf19c;]"});
    - icons.push({name:"fa-bar-chart",unicode:"[&#xf080;]"});
    - icons.push({name:"fa-bar-chart-o",unicode:"[&#xf080;]"});
    - icons.push({name:"fa-barcode",unicode:"[&#xf02a;]"});
    - icons.push({name:"fa-bars",unicode:"[&#xf0c9;]"});
    - icons.push({name:"fa-beer",unicode:"[&#xf0fc;]"});
    - icons.push({name:"fa-behance",unicode:"[&#xf1b4;]"});
    - icons.push({name:"fa-behance-square",unicode:"[&#xf1b5;]"});
    - icons.push({name:"fa-bell",unicode:"[&#xf0f3;]"});
    - icons.push({name:"fa-bell-o",unicode:"[&#xf0a2;]"});
    - icons.push({name:"fa-bell-slash",unicode:"[&#xf1f6;]"});
    - icons.push({name:"fa-bell-slash-o",unicode:"[&#xf1f7;]"});
    - icons.push({name:"fa-bicycle",unicode:"[&#xf206;]"});
    - icons.push({name:"fa-binoculars",unicode:"[&#xf1e5;]"});
    - icons.push({name:"fa-birthday-cake",unicode:"[&#xf1fd;]"});
    - icons.push({name:"fa-bitbucket",unicode:"[&#xf171;]"});
    - icons.push({name:"fa-bitbucket-square",unicode:"[&#xf172;]"});
    - icons.push({name:"fa-bitcoin",unicode:"[&#xf15a;]"});
    - icons.push({name:"fa-bold",unicode:"[&#xf032;]"});
    - icons.push({name:"fa-bolt",unicode:"[&#xf0e7;]"});
    - icons.push({name:"fa-bomb",unicode:"[&#xf1e2;]"});
    - icons.push({name:"fa-book",unicode:"[&#xf02d;]"});
    - icons.push({name:"fa-bookmark",unicode:"[&#xf02e;]"});
    - icons.push({name:"fa-bookmark-o",unicode:"[&#xf097;]"});
    - icons.push({name:"fa-briefcase",unicode:"[&#xf0b1;]"});
    - icons.push({name:"fa-btc",unicode:"[&#xf15a;]"});
    - icons.push({name:"fa-bug",unicode:"[&#xf188;]"});
    - icons.push({name:"fa-building",unicode:"[&#xf1ad;]"});
    - icons.push({name:"fa-building-o",unicode:"[&#xf0f7;]"});
    - icons.push({name:"fa-bullhorn",unicode:"[&#xf0a1;]"});
    - icons.push({name:"fa-bullseye",unicode:"[&#xf140;]"});
    - icons.push({name:"fa-bus",unicode:"[&#xf207;]"});
    - icons.push({name:"fa-cab",unicode:"[&#xf1ba;]"});
    - icons.push({name:"fa-calculator",unicode:"[&#xf1ec;]"});
    - icons.push({name:"fa-calendar",unicode:"[&#xf073;]"});
    - icons.push({name:"fa-calendar-o",unicode:"[&#xf133;]"});
    - icons.push({name:"fa-camera",unicode:"[&#xf030;]"});
    - icons.push({name:"fa-camera-retro",unicode:"[&#xf083;]"});
    - icons.push({name:"fa-car",unicode:"[&#xf1b9;]"});
    - icons.push({name:"fa-caret-down",unicode:"[&#xf0d7;]"});
    - icons.push({name:"fa-caret-left",unicode:"[&#xf0d9;]"});
    - icons.push({name:"fa-caret-right",unicode:"[&#xf0da;]"});
    - icons.push({name:"fa-caret-square-o-down",unicode:"[&#xf150;]"});
    - icons.push({name:"fa-caret-square-o-left",unicode:"[&#xf191;]"});
    - icons.push({name:"fa-caret-square-o-right",unicode:"[&#xf152;]"});
    - icons.push({name:"fa-caret-square-o-up",unicode:"[&#xf151;]"});
    - icons.push({name:"fa-caret-up",unicode:"[&#xf0d8;]"});
    - icons.push({name:"fa-cc",unicode:"[&#xf20a;]"});
    - icons.push({name:"fa-cc-amex",unicode:"[&#xf1f3;]"});
    - icons.push({name:"fa-cc-discover",unicode:"[&#xf1f2;]"});
    - icons.push({name:"fa-cc-mastercard",unicode:"[&#xf1f1;]"});
    - icons.push({name:"fa-cc-paypal",unicode:"[&#xf1f4;]"});
    - icons.push({name:"fa-cc-stripe",unicode:"[&#xf1f5;]"});
    - icons.push({name:"fa-cc-visa",unicode:"[&#xf1f0;]"});
    - icons.push({name:"fa-certificate",unicode:"[&#xf0a3;]"});
    - icons.push({name:"fa-chain",unicode:"[&#xf0c1;]"});
    - icons.push({name:"fa-chain-broken",unicode:"[&#xf127;]"});
    - icons.push({name:"fa-check",unicode:"[&#xf00c;]"});
    - icons.push({name:"fa-check-circle",unicode:"[&#xf058;]"});
    - icons.push({name:"fa-check-circle-o",unicode:"[&#xf05d;]"});
    - icons.push({name:"fa-check-square",unicode:"[&#xf14a;]"});
    - icons.push({name:"fa-check-square-o",unicode:"[&#xf046;]"});
    - icons.push({name:"fa-chevron-circle-down",unicode:"[&#xf13a;]"});
    - icons.push({name:"fa-chevron-circle-left",unicode:"[&#xf137;]"});
    - icons.push({name:"fa-chevron-circle-right",unicode:"[&#xf138;]"});
    - icons.push({name:"fa-chevron-circle-up",unicode:"[&#xf139;]"});
    - icons.push({name:"fa-chevron-down",unicode:"[&#xf078;]"});
    - icons.push({name:"fa-chevron-left",unicode:"[&#xf053;]"});
    - icons.push({name:"fa-chevron-right",unicode:"[&#xf054;]"});
    - icons.push({name:"fa-chevron-up",unicode:"[&#xf077;]"});
    - icons.push({name:"fa-child",unicode:"[&#xf1ae;]"});
    - icons.push({name:"fa-circle",unicode:"[&#xf111;]"});
    - icons.push({name:"fa-circle-o",unicode:"[&#xf10c;]"});
    - icons.push({name:"fa-circle-o-notch",unicode:"[&#xf1ce;]"});
    - icons.push({name:"fa-circle-thin",unicode:"[&#xf1db;]"});
    - icons.push({name:"fa-clipboard",unicode:"[&#xf0ea;]"});
    - icons.push({name:"fa-clock-o",unicode:"[&#xf017;]"});
    - icons.push({name:"fa-close",unicode:"[&#xf00d;]"});
    - icons.push({name:"fa-cloud",unicode:"[&#xf0c2;]"});
    - icons.push({name:"fa-cloud-download",unicode:"[&#xf0ed;]"});
    - icons.push({name:"fa-cloud-upload",unicode:"[&#xf0ee;]"});
    - icons.push({name:"fa-cny",unicode:"[&#xf157;]"});
    - icons.push({name:"fa-code",unicode:"[&#xf121;]"});
    - icons.push({name:"fa-code-fork",unicode:"[&#xf126;]"});
    - icons.push({name:"fa-codepen",unicode:"[&#xf1cb;]"});
    - icons.push({name:"fa-coffee",unicode:"[&#xf0f4;]"});
    - icons.push({name:"fa-cog",unicode:"[&#xf013;]"});
    - icons.push({name:"fa-cogs",unicode:"[&#xf085;]"});
    - icons.push({name:"fa-columns",unicode:"[&#xf0db;]"});
    - icons.push({name:"fa-comment",unicode:"[&#xf075;]"});
    - icons.push({name:"fa-comment-o",unicode:"[&#xf0e5;]"});
    - icons.push({name:"fa-comments",unicode:"[&#xf086;]"});
    - icons.push({name:"fa-comments-o",unicode:"[&#xf0e6;]"});
    - icons.push({name:"fa-compass",unicode:"[&#xf14e;]"});
    - icons.push({name:"fa-compress",unicode:"[&#xf066;]"});
    - icons.push({name:"fa-copy",unicode:"[&#xf0c5;]"});
    - icons.push({name:"fa-copyright",unicode:"[&#xf1f9;]"});
    - icons.push({name:"fa-credit-card",unicode:"[&#xf09d;]"});
    - icons.push({name:"fa-crop",unicode:"[&#xf125;]"});
    - icons.push({name:"fa-crosshairs",unicode:"[&#xf05b;]"});
    - icons.push({name:"fa-css3",unicode:"[&#xf13c;]"});
    - icons.push({name:"fa-cube",unicode:"[&#xf1b2;]"});
    - icons.push({name:"fa-cubes",unicode:"[&#xf1b3;]"});
    - icons.push({name:"fa-cut",unicode:"[&#xf0c4;]"});
    - icons.push({name:"fa-cutlery",unicode:"[&#xf0f5;]"});
    - icons.push({name:"fa-dashboard",unicode:"[&#xf0e4;]"});
    - icons.push({name:"fa-database",unicode:"[&#xf1c0;]"});
    - icons.push({name:"fa-dedent",unicode:"[&#xf03b;]"});
    - icons.push({name:"fa-delicious",unicode:"[&#xf1a5;]"});
    - icons.push({name:"fa-desktop",unicode:"[&#xf108;]"});
    - icons.push({name:"fa-deviantart",unicode:"[&#xf1bd;]"});
    - icons.push({name:"fa-digg",unicode:"[&#xf1a6;]"});
    - icons.push({name:"fa-dollar",unicode:"[&#xf155;]"});
    - icons.push({name:"fa-dot-circle-o",unicode:"[&#xf192;]"});
    - icons.push({name:"fa-download",unicode:"[&#xf019;]"});
    - icons.push({name:"fa-dribbble",unicode:"[&#xf17d;]"});
    - icons.push({name:"fa-dropbox",unicode:"[&#xf16b;]"});
    - icons.push({name:"fa-drupal",unicode:"[&#xf1a9;]"});
    - icons.push({name:"fa-edit",unicode:"[&#xf044;]"});
    - icons.push({name:"fa-eject",unicode:"[&#xf052;]"});
    - icons.push({name:"fa-ellipsis-h",unicode:"[&#xf141;]"});
    - icons.push({name:"fa-ellipsis-v",unicode:"[&#xf142;]"});
    - icons.push({name:"fa-empire",unicode:"[&#xf1d1;]"});
    - icons.push({name:"fa-envelope",unicode:"[&#xf0e0;]"});
    - icons.push({name:"fa-envelope-o",unicode:"[&#xf003;]"});
    - icons.push({name:"fa-envelope-square",unicode:"[&#xf199;]"});
    - icons.push({name:"fa-eraser",unicode:"[&#xf12d;]"});
    - icons.push({name:"fa-eur",unicode:"[&#xf153;]"});
    - icons.push({name:"fa-euro",unicode:"[&#xf153;]"});
    - icons.push({name:"fa-exchange",unicode:"[&#xf0ec;]"});
    - icons.push({name:"fa-exclamation",unicode:"[&#xf12a;]"});
    - icons.push({name:"fa-exclamation-circle",unicode:"[&#xf06a;]"});
    - icons.push({name:"fa-exclamation-triangle",unicode:"[&#xf071;]"});
    - icons.push({name:"fa-expand",unicode:"[&#xf065;]"});
    - icons.push({name:"fa-external-link",unicode:"[&#xf08e;]"});
    - icons.push({name:"fa-external-link-square",unicode:"[&#xf14c;]"});
    - icons.push({name:"fa-eye",unicode:"[&#xf06e;]"});
    - icons.push({name:"fa-eye-slash",unicode:"[&#xf070;]"});
    - icons.push({name:"fa-eyedropper",unicode:"[&#xf1fb;]"});
    - icons.push({name:"fa-facebook",unicode:"[&#xf09a;]"});
    - icons.push({name:"fa-facebook-square",unicode:"[&#xf082;]"});
    - icons.push({name:"fa-fast-backward",unicode:"[&#xf049;]"});
    - icons.push({name:"fa-fast-forward",unicode:"[&#xf050;]"});
    - icons.push({name:"fa-fax",unicode:"[&#xf1ac;]"});
    - icons.push({name:"fa-female",unicode:"[&#xf182;]"});
    - icons.push({name:"fa-fighter-jet",unicode:"[&#xf0fb;]"});
    - icons.push({name:"fa-file",unicode:"[&#xf15b;]"});
    - icons.push({name:"fa-file-archive-o",unicode:"[&#xf1c6;]"});
    - icons.push({name:"fa-file-audio-o",unicode:"[&#xf1c7;]"});
    - icons.push({name:"fa-file-code-o",unicode:"[&#xf1c9;]"});
    - icons.push({name:"fa-file-excel-o",unicode:"[&#xf1c3;]"});
    - icons.push({name:"fa-file-image-o",unicode:"[&#xf1c5;]"});
    - icons.push({name:"fa-file-movie-o",unicode:"[&#xf1c8;]"});
    - icons.push({name:"fa-file-o",unicode:"[&#xf016;]"});
    - icons.push({name:"fa-file-pdf-o",unicode:"[&#xf1c1;]"});
    - icons.push({name:"fa-file-photo-o",unicode:"[&#xf1c5;]"});
    - icons.push({name:"fa-file-picture-o",unicode:"[&#xf1c5;]"});
    - icons.push({name:"fa-file-powerpoint-o",unicode:"[&#xf1c4;]"});
    - icons.push({name:"fa-file-sound-o",unicode:"[&#xf1c7;]"});
    - icons.push({name:"fa-file-text",unicode:"[&#xf15c;]"});
    - icons.push({name:"fa-file-text-o",unicode:"[&#xf0f6;]"});
    - icons.push({name:"fa-file-video-o",unicode:"[&#xf1c8;]"});
    - icons.push({name:"fa-file-word-o",unicode:"[&#xf1c2;]"});
    - icons.push({name:"fa-file-zip-o",unicode:"[&#xf1c6;]"});
    - icons.push({name:"fa-files-o",unicode:"[&#xf0c5;]"});
    - icons.push({name:"fa-film",unicode:"[&#xf008;]"});
    - icons.push({name:"fa-filter",unicode:"[&#xf0b0;]"});
    - icons.push({name:"fa-fire",unicode:"[&#xf06d;]"});
    - icons.push({name:"fa-fire-extinguisher",unicode:"[&#xf134;]"});
    - icons.push({name:"fa-flag",unicode:"[&#xf024;]"});
    - icons.push({name:"fa-flag-checkered",unicode:"[&#xf11e;]"});
    - icons.push({name:"fa-flag-o",unicode:"[&#xf11d;]"});
    - icons.push({name:"fa-flash",unicode:"[&#xf0e7;]"});
    - icons.push({name:"fa-flask",unicode:"[&#xf0c3;]"});
    - icons.push({name:"fa-flickr",unicode:"[&#xf16e;]"});
    - icons.push({name:"fa-floppy-o",unicode:"[&#xf0c7;]"});
    - icons.push({name:"fa-folder",unicode:"[&#xf07b;]"});
    - icons.push({name:"fa-folder-o",unicode:"[&#xf114;]"});
    - icons.push({name:"fa-folder-open",unicode:"[&#xf07c;]"});
    - icons.push({name:"fa-folder-open-o",unicode:"[&#xf115;]"});
    - icons.push({name:"fa-font",unicode:"[&#xf031;]"});
    - icons.push({name:"fa-forward",unicode:"[&#xf04e;]"});
    - icons.push({name:"fa-foursquare",unicode:"[&#xf180;]"});
    - icons.push({name:"fa-frown-o",unicode:"[&#xf119;]"});
    - icons.push({name:"fa-futbol-o",unicode:"[&#xf1e3;]"});
    - icons.push({name:"fa-gamepad",unicode:"[&#xf11b;]"});
    - icons.push({name:"fa-gavel",unicode:"[&#xf0e3;]"});
    - icons.push({name:"fa-gbp",unicode:"[&#xf154;]"});
    - icons.push({name:"fa-ge",unicode:"[&#xf1d1;]"});
    - icons.push({name:"fa-gear",unicode:"[&#xf013;]"});
    - icons.push({name:"fa-gears",unicode:"[&#xf085;]"});
    - icons.push({name:"fa-gift",unicode:"[&#xf06b;]"});
    - icons.push({name:"fa-git",unicode:"[&#xf1d3;]"});
    - icons.push({name:"fa-git-square",unicode:"[&#xf1d2;]"});
    - icons.push({name:"fa-github",unicode:"[&#xf09b;]"});
    - icons.push({name:"fa-github-alt",unicode:"[&#xf113;]"});
    - icons.push({name:"fa-github-square",unicode:"[&#xf092;]"});
    - icons.push({name:"fa-gittip",unicode:"[&#xf184;]"});
    - icons.push({name:"fa-glass",unicode:"[&#xf000;]"});
    - icons.push({name:"fa-globe",unicode:"[&#xf0ac;]"});
    - icons.push({name:"fa-google",unicode:"[&#xf1a0;]"});
    - icons.push({name:"fa-google-plus",unicode:"[&#xf0d5;]"});
    - icons.push({name:"fa-google-plus-square",unicode:"[&#xf0d4;]"});
    - icons.push({name:"fa-google-wallet",unicode:"[&#xf1ee;]"});
    - icons.push({name:"fa-graduation-cap",unicode:"[&#xf19d;]"});
    - icons.push({name:"fa-group",unicode:"[&#xf0c0;]"});
    - icons.push({name:"fa-h-square",unicode:"[&#xf0fd;]"});
    - icons.push({name:"fa-hacker-news",unicode:"[&#xf1d4;]"});
    - icons.push({name:"fa-hand-o-down",unicode:"[&#xf0a7;]"});
    - icons.push({name:"fa-hand-o-left",unicode:"[&#xf0a5;]"});
    - icons.push({name:"fa-hand-o-right",unicode:"[&#xf0a4;]"});
    - icons.push({name:"fa-hand-o-up",unicode:"[&#xf0a6;]"});
    - icons.push({name:"fa-hdd-o",unicode:"[&#xf0a0;]"});
    - icons.push({name:"fa-header",unicode:"[&#xf1dc;]"});
    - icons.push({name:"fa-headphones",unicode:"[&#xf025;]"});
    - icons.push({name:"fa-heart",unicode:"[&#xf004;]"});
    - icons.push({name:"fa-heart-o",unicode:"[&#xf08a;]"});
    - icons.push({name:"fa-history",unicode:"[&#xf1da;]"});
    - icons.push({name:"fa-home",unicode:"[&#xf015;]"});
    - icons.push({name:"fa-hospital-o",unicode:"[&#xf0f8;]"});
    - icons.push({name:"fa-html5",unicode:"[&#xf13b;]"});
    - icons.push({name:"fa-ils",unicode:"[&#xf20b;]"});
    - icons.push({name:"fa-image",unicode:"[&#xf03e;]"});
    - icons.push({name:"fa-inbox",unicode:"[&#xf01c;]"});
    - icons.push({name:"fa-indent",unicode:"[&#xf03c;]"});
    - icons.push({name:"fa-info",unicode:"[&#xf129;]"});
    - icons.push({name:"fa-info-circle",unicode:"[&#xf05a;]"});
    - icons.push({name:"fa-inr",unicode:"[&#xf156;]"});
    - icons.push({name:"fa-instagram",unicode:"[&#xf16d;]"});
    - icons.push({name:"fa-institution",unicode:"[&#xf19c;]"});
    - icons.push({name:"fa-ioxhost",unicode:"[&#xf208;]"});
    - icons.push({name:"fa-italic",unicode:"[&#xf033;]"});
    - icons.push({name:"fa-joomla",unicode:"[&#xf1aa;]"});
    - icons.push({name:"fa-jpy",unicode:"[&#xf157;]"});
    - icons.push({name:"fa-jsfiddle",unicode:"[&#xf1cc;]"});
    - icons.push({name:"fa-key",unicode:"[&#xf084;]"});
    - icons.push({name:"fa-keyboard-o",unicode:"[&#xf11c;]"});
    - icons.push({name:"fa-krw",unicode:"[&#xf159;]"});
    - icons.push({name:"fa-language",unicode:"[&#xf1ab;]"});
    - icons.push({name:"fa-laptop",unicode:"[&#xf109;]"});
    - icons.push({name:"fa-lastfm",unicode:"[&#xf202;]"});
    - icons.push({name:"fa-lastfm-square",unicode:"[&#xf203;]"});
    - icons.push({name:"fa-leaf",unicode:"[&#xf06c;]"});
    - icons.push({name:"fa-legal",unicode:"[&#xf0e3;]"});
    - icons.push({name:"fa-lemon-o",unicode:"[&#xf094;]"});
    - icons.push({name:"fa-level-down",unicode:"[&#xf149;]"});
    - icons.push({name:"fa-level-up",unicode:"[&#xf148;]"});
    - icons.push({name:"fa-life-bouy",unicode:"[&#xf1cd;]"});
    - icons.push({name:"fa-life-buoy",unicode:"[&#xf1cd;]"});
    - icons.push({name:"fa-life-ring",unicode:"[&#xf1cd;]"});
    - icons.push({name:"fa-life-saver",unicode:"[&#xf1cd;]"});
    - icons.push({name:"fa-lightbulb-o",unicode:"[&#xf0eb;]"});
    - icons.push({name:"fa-line-chart",unicode:"[&#xf201;]"});
    - icons.push({name:"fa-link",unicode:"[&#xf0c1;]"});
    - icons.push({name:"fa-linkedin",unicode:"[&#xf0e1;]"});
    - icons.push({name:"fa-linkedin-square",unicode:"[&#xf08c;]"});
    - icons.push({name:"fa-linux",unicode:"[&#xf17c;]"});
    - icons.push({name:"fa-list",unicode:"[&#xf03a;]"});
    - icons.push({name:"fa-list-alt",unicode:"[&#xf022;]"});
    - icons.push({name:"fa-list-ol",unicode:"[&#xf0cb;]"});
    - icons.push({name:"fa-list-ul",unicode:"[&#xf0ca;]"});
    - icons.push({name:"fa-location-arrow",unicode:"[&#xf124;]"});
    - icons.push({name:"fa-lock",unicode:"[&#xf023;]"});
    - icons.push({name:"fa-long-arrow-down",unicode:"[&#xf175;]"});
    - icons.push({name:"fa-long-arrow-left",unicode:"[&#xf177;]"});
    - icons.push({name:"fa-long-arrow-right",unicode:"[&#xf178;]"});
    - icons.push({name:"fa-long-arrow-up",unicode:"[&#xf176;]"});
    - icons.push({name:"fa-magic",unicode:"[&#xf0d0;]"});
    - icons.push({name:"fa-magnet",unicode:"[&#xf076;]"});
    - icons.push({name:"fa-mail-forward",unicode:"[&#xf064;]"});
    - icons.push({name:"fa-mail-reply",unicode:"[&#xf112;]"});
    - icons.push({name:"fa-mail-reply-all",unicode:"[&#xf122;]"});
    - icons.push({name:"fa-male",unicode:"[&#xf183;]"});
    - icons.push({name:"fa-map-marker",unicode:"[&#xf041;]"});
    - icons.push({name:"fa-maxcdn",unicode:"[&#xf136;]"});
    - icons.push({name:"fa-meanpath",unicode:"[&#xf20c;]"});
    - icons.push({name:"fa-medkit",unicode:"[&#xf0fa;]"});
    - icons.push({name:"fa-meh-o",unicode:"[&#xf11a;]"});
    - icons.push({name:"fa-microphone",unicode:"[&#xf130;]"});
    - icons.push({name:"fa-microphone-slash",unicode:"[&#xf131;]"});
    - icons.push({name:"fa-minus",unicode:"[&#xf068;]"});
    - icons.push({name:"fa-minus-circle",unicode:"[&#xf056;]"});
    - icons.push({name:"fa-minus-square",unicode:"[&#xf146;]"});
    - icons.push({name:"fa-minus-square-o",unicode:"[&#xf147;]"});
    - icons.push({name:"fa-mobile",unicode:"[&#xf10b;]"});
    - icons.push({name:"fa-mobile-phone",unicode:"[&#xf10b;]"});
    - icons.push({name:"fa-money",unicode:"[&#xf0d6;]"});
    - icons.push({name:"fa-moon-o",unicode:"[&#xf186;]"});
    - icons.push({name:"fa-mortar-board",unicode:"[&#xf19d;]"});
    - icons.push({name:"fa-music",unicode:"[&#xf001;]"});
    - icons.push({name:"fa-navicon",unicode:"[&#xf0c9;]"});
    - icons.push({name:"fa-newspaper-o",unicode:"[&#xf1ea;]"});
    - icons.push({name:"fa-openid",unicode:"[&#xf19b;]"});
    - icons.push({name:"fa-outdent",unicode:"[&#xf03b;]"});
    - icons.push({name:"fa-pagelines",unicode:"[&#xf18c;]"});
    - icons.push({name:"fa-paint-brush",unicode:"[&#xf1fc;]"});
    - icons.push({name:"fa-paper-plane",unicode:"[&#xf1d8;]"});
    - icons.push({name:"fa-paper-plane-o",unicode:"[&#xf1d9;]"});
    - icons.push({name:"fa-paperclip",unicode:"[&#xf0c6;]"});
    - icons.push({name:"fa-paragraph",unicode:"[&#xf1dd;]"});
    - icons.push({name:"fa-paste",unicode:"[&#xf0ea;]"});
    - icons.push({name:"fa-pause",unicode:"[&#xf04c;]"});
    - icons.push({name:"fa-paw",unicode:"[&#xf1b0;]"});
    - icons.push({name:"fa-paypal",unicode:"[&#xf1ed;]"});
    - icons.push({name:"fa-pencil",unicode:"[&#xf040;]"});
    - icons.push({name:"fa-pencil-square",unicode:"[&#xf14b;]"});
    - icons.push({name:"fa-pencil-square-o",unicode:"[&#xf044;]"});
    - icons.push({name:"fa-phone",unicode:"[&#xf095;]"});
    - icons.push({name:"fa-phone-square",unicode:"[&#xf098;]"});
    - icons.push({name:"fa-photo",unicode:"[&#xf03e;]"});
    - icons.push({name:"fa-picture-o",unicode:"[&#xf03e;]"});
    - icons.push({name:"fa-pie-chart",unicode:"[&#xf200;]"});
    - icons.push({name:"fa-pied-piper",unicode:"[&#xf1a7;]"});
    - icons.push({name:"fa-pied-piper-alt",unicode:"[&#xf1a8;]"});
    - icons.push({name:"fa-pinterest",unicode:"[&#xf0d2;]"});
    - icons.push({name:"fa-pinterest-square",unicode:"[&#xf0d3;]"});
    - icons.push({name:"fa-plane",unicode:"[&#xf072;]"});
    - icons.push({name:"fa-play",unicode:"[&#xf04b;]"});
    - icons.push({name:"fa-play-circle",unicode:"[&#xf144;]"});
    - icons.push({name:"fa-play-circle-o",unicode:"[&#xf01d;]"});
    - icons.push({name:"fa-plug",unicode:"[&#xf1e6;]"});
    - icons.push({name:"fa-plus",unicode:"[&#xf067;]"});
    - icons.push({name:"fa-plus-circle",unicode:"[&#xf055;]"});
    - icons.push({name:"fa-plus-square",unicode:"[&#xf0fe;]"});
    - icons.push({name:"fa-plus-square-o",unicode:"[&#xf196;]"});
    - icons.push({name:"fa-power-off",unicode:"[&#xf011;]"});
    - icons.push({name:"fa-print",unicode:"[&#xf02f;]"});
    - icons.push({name:"fa-puzzle-piece",unicode:"[&#xf12e;]"});
    - icons.push({name:"fa-qq",unicode:"[&#xf1d6;]"});
    - icons.push({name:"fa-qrcode",unicode:"[&#xf029;]"});
    - icons.push({name:"fa-question",unicode:"[&#xf128;]"});
    - icons.push({name:"fa-question-circle",unicode:"[&#xf059;]"});
    - icons.push({name:"fa-quote-left",unicode:"[&#xf10d;]"});
    - icons.push({name:"fa-quote-right",unicode:"[&#xf10e;]"});
    - icons.push({name:"fa-ra",unicode:"[&#xf1d0;]"});
    - icons.push({name:"fa-random",unicode:"[&#xf074;]"});
    - icons.push({name:"fa-rebel",unicode:"[&#xf1d0;]"});
    - icons.push({name:"fa-recycle",unicode:"[&#xf1b8;]"});
    - icons.push({name:"fa-reddit",unicode:"[&#xf1a1;]"});
    - icons.push({name:"fa-reddit-square",unicode:"[&#xf1a2;]"});
    - icons.push({name:"fa-refresh",unicode:"[&#xf021;]"});
    - icons.push({name:"fa-remove",unicode:"[&#xf00d;]"});
    - icons.push({name:"fa-renren",unicode:"[&#xf18b;]"});
    - icons.push({name:"fa-reorder",unicode:"[&#xf0c9;]"});
    - icons.push({name:"fa-repeat",unicode:"[&#xf01e;]"});
    - icons.push({name:"fa-reply",unicode:"[&#xf112;]"});
    - icons.push({name:"fa-reply-all",unicode:"[&#xf122;]"});
    - icons.push({name:"fa-retweet",unicode:"[&#xf079;]"});
    - icons.push({name:"fa-rmb",unicode:"[&#xf157;]"});
    - icons.push({name:"fa-road",unicode:"[&#xf018;]"});
    - icons.push({name:"fa-rocket",unicode:"[&#xf135;]"});
    - icons.push({name:"fa-rotate-left",unicode:"[&#xf0e2;]"});
    - icons.push({name:"fa-rotate-right",unicode:"[&#xf01e;]"});
    - icons.push({name:"fa-rouble",unicode:"[&#xf158;]"});
    - icons.push({name:"fa-rss",unicode:"[&#xf09e;]"});
    - icons.push({name:"fa-rss-square",unicode:"[&#xf143;]"});
    - icons.push({name:"fa-rub",unicode:"[&#xf158;]"});
    - icons.push({name:"fa-ruble",unicode:"[&#xf158;]"});
    - icons.push({name:"fa-rupee",unicode:"[&#xf156;]"});
    - icons.push({name:"fa-save",unicode:"[&#xf0c7;]"});
    - icons.push({name:"fa-scissors",unicode:"[&#xf0c4;]"});
    - icons.push({name:"fa-search",unicode:"[&#xf002;]"});
    - icons.push({name:"fa-search-minus",unicode:"[&#xf010;]"});
    - icons.push({name:"fa-search-plus",unicode:"[&#xf00e;]"});
    - icons.push({name:"fa-send",unicode:"[&#xf1d8;]"});
    - icons.push({name:"fa-send-o",unicode:"[&#xf1d9;]"});
    - icons.push({name:"fa-share",unicode:"[&#xf064;]"});
    - icons.push({name:"fa-share-alt",unicode:"[&#xf1e0;]"});
    - icons.push({name:"fa-share-alt-square",unicode:"[&#xf1e1;]"});
    - icons.push({name:"fa-share-square",unicode:"[&#xf14d;]"});
    - icons.push({name:"fa-share-square-o",unicode:"[&#xf045;]"});
    - icons.push({name:"fa-shekel",unicode:"[&#xf20b;]"});
    - icons.push({name:"fa-sheqel",unicode:"[&#xf20b;]"});
    - icons.push({name:"fa-shield",unicode:"[&#xf132;]"});
    - icons.push({name:"fa-shopping-cart",unicode:"[&#xf07a;]"});
    - icons.push({name:"fa-sign-in",unicode:"[&#xf090;]"});
    - icons.push({name:"fa-sign-out",unicode:"[&#xf08b;]"});
    - icons.push({name:"fa-signal",unicode:"[&#xf012;]"});
    - icons.push({name:"fa-sitemap",unicode:"[&#xf0e8;]"});
    - icons.push({name:"fa-skype",unicode:"[&#xf17e;]"});
    - icons.push({name:"fa-slack",unicode:"[&#xf198;]"});
    - icons.push({name:"fa-sliders",unicode:"[&#xf1de;]"});
    - icons.push({name:"fa-slideshare",unicode:"[&#xf1e7;]"});
    - icons.push({name:"fa-smile-o",unicode:"[&#xf118;]"});
    - icons.push({name:"fa-soccer-ball-o",unicode:"[&#xf1e3;]"});
    - icons.push({name:"fa-sort",unicode:"[&#xf0dc;]"});
    - icons.push({name:"fa-sort-alpha-asc",unicode:"[&#xf15d;]"});
    - icons.push({name:"fa-sort-alpha-desc",unicode:"[&#xf15e;]"});
    - icons.push({name:"fa-sort-amount-asc",unicode:"[&#xf160;]"});
    - icons.push({name:"fa-sort-amount-desc",unicode:"[&#xf161;]"});
    - icons.push({name:"fa-sort-asc",unicode:"[&#xf0de;]"});
    - icons.push({name:"fa-sort-desc",unicode:"[&#xf0dd;]"});
    - icons.push({name:"fa-sort-down",unicode:"[&#xf0dd;]"});
    - icons.push({name:"fa-sort-numeric-asc",unicode:"[&#xf162;]"});
    - icons.push({name:"fa-sort-numeric-desc",unicode:"[&#xf163;]"});
    - icons.push({name:"fa-sort-up",unicode:"[&#xf0de;]"});
    - icons.push({name:"fa-soundcloud",unicode:"[&#xf1be;]"});
    - icons.push({name:"fa-space-shuttle",unicode:"[&#xf197;]"});
    - icons.push({name:"fa-spinner",unicode:"[&#xf110;]"});
    - icons.push({name:"fa-spoon",unicode:"[&#xf1b1;]"});
    - icons.push({name:"fa-spotify",unicode:"[&#xf1bc;]"});
    - icons.push({name:"fa-square",unicode:"[&#xf0c8;]"});
    - icons.push({name:"fa-square-o",unicode:"[&#xf096;]"});
    - icons.push({name:"fa-stack-exchange",unicode:"[&#xf18d;]"});
    - icons.push({name:"fa-stack-overflow",unicode:"[&#xf16c;]"});
    - icons.push({name:"fa-star",unicode:"[&#xf005;]"});
    - icons.push({name:"fa-star-half",unicode:"[&#xf089;]"});
    - icons.push({name:"fa-star-half-empty",unicode:"[&#xf123;]"});
    - icons.push({name:"fa-star-half-full",unicode:"[&#xf123;]"});
    - icons.push({name:"fa-star-half-o",unicode:"[&#xf123;]"});
    - icons.push({name:"fa-star-o",unicode:"[&#xf006;]"});
    - icons.push({name:"fa-steam",unicode:"[&#xf1b6;]"});
    - icons.push({name:"fa-steam-square",unicode:"[&#xf1b7;]"});
    - icons.push({name:"fa-step-backward",unicode:"[&#xf048;]"});
    - icons.push({name:"fa-step-forward",unicode:"[&#xf051;]"});
    - icons.push({name:"fa-stethoscope",unicode:"[&#xf0f1;]"});
    - icons.push({name:"fa-stop",unicode:"[&#xf04d;]"});
    - icons.push({name:"fa-strikethrough",unicode:"[&#xf0cc;]"});
    - icons.push({name:"fa-stumbleupon",unicode:"[&#xf1a4;]"});
    - icons.push({name:"fa-stumbleupon-circle",unicode:"[&#xf1a3;]"});
    - icons.push({name:"fa-subscript",unicode:"[&#xf12c;]"});
    - icons.push({name:"fa-suitcase",unicode:"[&#xf0f2;]"});
    - icons.push({name:"fa-sun-o",unicode:"[&#xf185;]"});
    - icons.push({name:"fa-superscript",unicode:"[&#xf12b;]"});
    - icons.push({name:"fa-support",unicode:"[&#xf1cd;]"});
    - icons.push({name:"fa-table",unicode:"[&#xf0ce;]"});
    - icons.push({name:"fa-tablet",unicode:"[&#xf10a;]"});
    - icons.push({name:"fa-tachometer",unicode:"[&#xf0e4;]"});
    - icons.push({name:"fa-tag",unicode:"[&#xf02b;]"});
    - icons.push({name:"fa-tags",unicode:"[&#xf02c;]"});
    - icons.push({name:"fa-tasks",unicode:"[&#xf0ae;]"});
    - icons.push({name:"fa-taxi",unicode:"[&#xf1ba;]"});
    - icons.push({name:"fa-tencent-weibo",unicode:"[&#xf1d5;]"});
    - icons.push({name:"fa-terminal",unicode:"[&#xf120;]"});
    - icons.push({name:"fa-text-height",unicode:"[&#xf034;]"});
    - icons.push({name:"fa-text-width",unicode:"[&#xf035;]"});
    - icons.push({name:"fa-th",unicode:"[&#xf00a;]"});
    - icons.push({name:"fa-th-large",unicode:"[&#xf009;]"});
    - icons.push({name:"fa-th-list",unicode:"[&#xf00b;]"});
    - icons.push({name:"fa-thumb-tack",unicode:"[&#xf08d;]"});
    - icons.push({name:"fa-thumbs-down",unicode:"[&#xf165;]"});
    - icons.push({name:"fa-thumbs-o-down",unicode:"[&#xf088;]"});
    - icons.push({name:"fa-thumbs-o-up",unicode:"[&#xf087;]"});
    - icons.push({name:"fa-thumbs-up",unicode:"[&#xf164;]"});
    - icons.push({name:"fa-ticket",unicode:"[&#xf145;]"});
    - icons.push({name:"fa-times",unicode:"[&#xf00d;]"});
    - icons.push({name:"fa-times-circle",unicode:"[&#xf057;]"});
    - icons.push({name:"fa-times-circle-o",unicode:"[&#xf05c;]"});
    - icons.push({name:"fa-tint",unicode:"[&#xf043;]"});
    - icons.push({name:"fa-toggle-down",unicode:"[&#xf150;]"});
    - icons.push({name:"fa-toggle-left",unicode:"[&#xf191;]"});
    - icons.push({name:"fa-toggle-off",unicode:"[&#xf204;]"});
    - icons.push({name:"fa-toggle-on",unicode:"[&#xf205;]"});
    - icons.push({name:"fa-toggle-right",unicode:"[&#xf152;]"});
    - icons.push({name:"fa-toggle-up",unicode:"[&#xf151;]"});
    - icons.push({name:"fa-trash",unicode:"[&#xf1f8;]"});
    - icons.push({name:"fa-trash-o",unicode:"[&#xf014;]"});
    - icons.push({name:"fa-tree",unicode:"[&#xf1bb;]"});
    - icons.push({name:"fa-trello",unicode:"[&#xf181;]"});
    - icons.push({name:"fa-trophy",unicode:"[&#xf091;]"});
    - icons.push({name:"fa-truck",unicode:"[&#xf0d1;]"});
    - icons.push({name:"fa-try",unicode:"[&#xf195;]"});
    - icons.push({name:"fa-tty",unicode:"[&#xf1e4;]"});
    - icons.push({name:"fa-tumblr",unicode:"[&#xf173;]"});
    - icons.push({name:"fa-tumblr-square",unicode:"[&#xf174;]"});
    - icons.push({name:"fa-turkish-lira",unicode:"[&#xf195;]"});
    - icons.push({name:"fa-twitch",unicode:"[&#xf1e8;]"});
    - icons.push({name:"fa-twitter",unicode:"[&#xf099;]"});
    - icons.push({name:"fa-twitter-square",unicode:"[&#xf081;]"});
    - icons.push({name:"fa-umbrella",unicode:"[&#xf0e9;]"});
    - icons.push({name:"fa-underline",unicode:"[&#xf0cd;]"});
    - icons.push({name:"fa-undo",unicode:"[&#xf0e2;]"});
    - icons.push({name:"fa-university",unicode:"[&#xf19c;]"});
    - icons.push({name:"fa-unlink",unicode:"[&#xf127;]"});
    - icons.push({name:"fa-unlock",unicode:"[&#xf09c;]"});
    - icons.push({name:"fa-unlock-alt",unicode:"[&#xf13e;]"});
    - icons.push({name:"fa-unsorted",unicode:"[&#xf0dc;]"});
    - icons.push({name:"fa-upload",unicode:"[&#xf093;]"});
    - icons.push({name:"fa-usd",unicode:"[&#xf155;]"});
    - icons.push({name:"fa-user",unicode:"[&#xf007;]"});
    - icons.push({name:"fa-user-md",unicode:"[&#xf0f0;]"});
    - icons.push({name:"fa-users",unicode:"[&#xf0c0;]"});
    - icons.push({name:"fa-video-camera",unicode:"[&#xf03d;]"});
    - icons.push({name:"fa-vimeo-square",unicode:"[&#xf194;]"});
    - icons.push({name:"fa-vine",unicode:"[&#xf1ca;]"});
    - icons.push({name:"fa-vk",unicode:"[&#xf189;]"});
    - icons.push({name:"fa-volume-down",unicode:"[&#xf027;]"});
    - icons.push({name:"fa-volume-off",unicode:"[&#xf026;]"});
    - icons.push({name:"fa-volume-up",unicode:"[&#xf028;]"});
    - icons.push({name:"fa-warning",unicode:"[&#xf071;]"});
    - icons.push({name:"fa-wechat",unicode:"[&#xf1d7;]"});
    - icons.push({name:"fa-weibo",unicode:"[&#xf18a;]"});
    - icons.push({name:"fa-weixin",unicode:"[&#xf1d7;]"});
    - icons.push({name:"fa-wheelchair",unicode:"[&#xf193;]"});
    - icons.push({name:"fa-wifi",unicode:"[&#xf1eb;]"});
    - icons.push({name:"fa-windows",unicode:"[&#xf17a;]"});
    - icons.push({name:"fa-won",unicode:"[&#xf159;]"});
    - icons.push({name:"fa-wordpress",unicode:"[&#xf19a;]"});
    - icons.push({name:"fa-wrench",unicode:"[&#xf0ad;]"});
    - icons.push({name:"fa-xing",unicode:"[&#xf168;]"});
    - icons.push({name:"fa-xing-square",unicode:"[&#xf169;]"});
    - icons.push({name:"fa-yahoo",unicode:"[&#xf19e;]"});
    - icons.push({name:"fa-yelp",unicode:"[&#xf1e9;]"});
    - icons.push({name:"fa-yen",unicode:"[&#xf157;]"});
    - icons.push({name:"fa-youtube",unicode:"[&#xf167;]"});
    - icons.push({name:"fa-youtube-play",unicode:"[&#xf16a;]"});
    - icons.push({name:"fa-youtube-square",unicode:"[&#xf166;]"});
      ul.blocks-5
        each icon, i in icons
          +icon(icon)
    hr
