doctype html
html.no-js
  head
    meta(charset='utf-8')
    title wc robe
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='shortcut icon', href='/favicon.ico')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.css')
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='/styles/wc-robe.css')
    link(rel='stylesheet', href='/styles/main.css')
    // endbuild
  body
    include mixin/nav
    block header
      .units-row
        .unit-30
          a(href='/')
            h1.text-centered
              sub
                .badge.badge-blue wc
              | Robe
        .unit-70
          block Nav
            +NavBar('Css')
    .units-row
      .unit-30
        block leftNav
          +leftNav()
      .unit-70
        block content
          include todo/css

    // build:js(.) scripts/vendor.js
    // bower:js
    // endbower
    // endbuild
    // build:js({app,.tmp}) scripts/main.js
    //- script(src='scripts/main.js')
    script(
        data-main = '/scripts/main',
        src = '/bower_components/requirejs/require.js'
        )
    // endbuild


