include mixin/source

extends ./index.jade
block content
  //- Test Labels
  #Tables
    h1 Tables

    +source('Default Table')
      table
        thead
          tr
            th First Name
            th Last Name
            th Points
        tbody
          tr
            td Adam
            td Smith
            td 50
          tr
            td Eve
            td Smith
            td 94
        tfoot
          tr
            td(colspan='2') Total points
            td 223

    +source('Table Width')
      table
        thead
          tr
            th.width-50 Head 1
            th.width-50 Head 2
        tbody
          tr
            td Col 1
            td Col 2

    +source('Table Width')
      table
        thead
          tr
            th.width-50 Head 1
            th.width-25 Head 2
            th.width-25 Head 3
        tbody
          tr
            td Col 1
            td Col 2
            td Col 3


    +source('Table Caption')
      table
        caption Caption
        thead
          tr
            th.width-50 Head 1
            th.width-25 Head 2
            th.width-25 Head 3
        tbody
          tr
            td Col 1
            td Col 2
            td Col 3


    +source('Bordered Table')
      table.table-bordered
        thead
          tr
            th First Name
            th Last Name
            th Points
        tbody
          tr
            td Adam
            td Smith
            td 50
          tr
            td Eve
            td Smith
            td 94
        tfoot
          tr
            td(colspan='2') Total points
            td 223


    +source('Simple Table')
      table.table-simple
        thead
          tr
            th First Name
            th Last Name
            th Points
        tbody
          tr
            td Adam
            td Smith
            td 50
          tr
            td Eve
            td Smith
            td 94
        tfoot
          tr
            td(colspan='2') Total points
            td 223


    +source('Flat Table')
      table.table-flat
        thead
          tr
            th First Name
            th Last Name
            th Points
        tbody
          tr
            td Adam
            td Smith
            td 50
          tr
            td Eve
            td Smith
            td 94
        tfoot
          tr
            td(colspan='2') Total points
            td 223


    +source('Stripped Table')
      table.table-stripped
        thead
          tr
            th First Name
            th Last Name
            th Points
        tbody
          tr
            td Adam
            td Smith
            td 50
          tr
            td Eve
            td Smith
            td 94
        tfoot
          tr
            td(colspan='2') Total points
            td 223


    +source('Hovered Table')
      table.table-hovered
        thead
          tr
            th First Name
            th Last Name
            th Points
        tbody
          tr
            td Adam
            td Smith
            td 50
          tr
            td Eve
            td Smith
            td 94
        tfoot
          tr
            td(colspan='2') Total points
            td 223


    +source('Responsive Table')
      .table-container
        table
          tbody
            tr
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
            tr
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet
              td Lorem ipsum dolor sit amet

